fichas_de_estudo/rust/fatorial_simples/.vscode/*
fichas_de_estudo/rust/fatorial_simples/target/*
fichas_de_estudo/rust/fatorial_paralelo/.vscode/*
fichas_de_estudo/rust/fatorial_paralelo/target/*
fichas_de_estudo/rust/integral_trapezio_simples/.vscode/*
fichas_de_estudo/rust/integral_trapezio_simples/target/*