rust/fatorial_simples/.vscode/*
rust/fatorial_simples/target/*
rust/fatorial_paralelo/.vscode/*
rust/fatorial_paralelo/target/*
rust/integral_trapezio_simples/.vscode/*
rust/integral_trapezio_simples/target/*